.content {
  grid-area: content;
  margin-right: 15px;
  overflow: hidden;

  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.signboard {
  width: 100%;
}
