.postsBlock {
  padding: 10px;
}

.postsBlock textarea {
  display: block;
}

.posts {
  padding-top: 10px;
}

.messageWrapper {
  max-width: 300px;
}

.message {
  resize: none;
  min-height: 50px;
}
