@keyframes back-pulse {
  50% {
    background-color: rgba(125, 151, 165, 0.75);
  }
}

.btn {
  position: relative;

  display: inline-block;
  padding: 6px 16px;
  overflow: hidden;

  vertical-align: middle;
  color: #fff;
  text-decoration: none;

  background-color: #7d97a5;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: perspective(1px) translateZ(0);
  cursor: pointer;

  transition-duration: 0.5s;
  transition-property: color, background-color, opacity, box-shadow;

  user-select: none;
}

.btn:disabled {
  opacity: 0.5;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

@media (hover: hover) {
  .btn:hover {
    color: #fff;

    background-color: #7d97a5;

    animation-name: back-pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
  }
}
