.bar {
  position: relative;

  width: 500px;
  height: 2px;
  margin: 150px auto 0;

  background-color: #7d97a5;
}

.circle {
  position: absolute;
  top: -30px;
  left: 0;

  width: 60px;
  height: 60px;
  margin-left: -30px;

  background-color: #7d97a5;
  border-radius: 30%;

  animation: move 5s infinite;
}

.text {
  position: absolute;
  top: -35px;
  right: -85px;

  font-weight: bold;
  font-family: inherit;
  color: #fff;
  text-transform: uppercase;
}

@keyframes move {
  0% {
    left: 0;
  }
  50% {
    left: 100%;

    width: 150px;
    height: 150px;

    transform: rotate(450deg);
  }
  75% {
    left: 100%;

    width: 150px;
    height: 150px;

    transform: rotate(450deg);
  }
  100% {
    right: 100%;
  }
}
