.appWrapper {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 25px;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "header header"
  "nav content";
  padding-bottom: 25px;
}

.appWrapperContent {
  grid-area: content;
  margin-right: 15px;
  overflow: hidden;

  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.preloaderAppWrapper,
.preloaderPageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloaderAppWrapper {
  height: 100vh;
}
