.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsList,
.messages {
  margin: 0;
  padding: 10px;
  list-style-type: none;
}

.dialogsList {

}

.dialog a {
  color: #333;
  text-decoration: none;
}

.dialog a:hover {
  text-decoration: underline;
}

.dialog .active {
  color: #7d97a5;
}

.dialog {

}

.messages {

}

.message {

}
